.newtask{
    border: 3px solid #fffaaa;
    height: 300px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.filters{
    display: block;
}

.filter-btn{
    margin: 5px;
    
}